# Explore here

In [1]:
import pandas as pd

total_data = pd.read_csv("/workspaces/app_Stream/data/student_admission_record_dirty.csv")
total_data.head()

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN

In [2]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    147 non-null    object
 1   Age                     147 non-null    float64
 2   Gender                  147 non-null    object
 3   Admission Test Score    146 non-null    float64
 4   High School Percentage  146 non-null    float64
 5   City                    147 non-null    object
 6   Admission Status        147 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.7+ KB

In [3]:
total_data.shape

(157, 7)

In [4]:
if total_data.duplicated().sum():
    total_data = total_data.drop_duplicates()
print(total_data.shape)
total_data.head()

(151, 7)

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN

In [5]:
total_data.drop(["Name", "City"], axis = 1, inplace = True)
total_data.head()

    Age  Gender  Admission Test Score  High School Percentage Admission Status
0  24.0  Female                  50.0                   68.90         Rejected
1  21.0  Female                  99.0                   60.73              NaN
2  17.0    Male                  89.0                     NaN         Accepted
3  17.0    Male                  55.0                   85.29         Rejected
4  20.0    Male                  65.0                   61.13              NaN

In [6]:
total_data.isnull().sum().sort_values(ascending=False)

Admission Test Score      11
High School Percentage    11
Age                       10
Gender                    10
Admission Status          10
dtype: int64

In [8]:

total_data.columns = total_data.columns.str.strip()

total_data["Admission Test Score"].fillna(total_data["Admission Test Score"].median(), inplace=True)
total_data["High School Percentage"].fillna(total_data["High School Percentage"].mode()[0], inplace=True)
total_data["Gender"].fillna(total_data["Gender"].mode()[0], inplace=True)  
total_data["Age"].fillna(total_data["Age"].mode()[0], inplace=True)
total_data["Admission Status"].fillna(total_data["Admission Status"].mode()[0], inplace=True)

/tmp/ipykernel_8535/2237417101.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["Admission Test Score"].fillna(total_data["Admission Test Score"].median(), inplace=True)
/tmp/ipykernel_8535/2237417101.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["High School Percentage"].fillna(total_data["High School Percentage"].mode()[0], inplace=True)
/tmp/ipykernel_8535/2237417101.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["Gender"].fillna(total_data["Gender"].mode()[0], inplace=True)
/tmp/ipykernel_8535/2237417101.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["Age"].fillna(total_data["Age"].mode()[0], inplace=True)
/tmp/ipykernel_8535/2237417101.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data["Admission Status"].fillna(total_data["Admission Status"].mode()[0], inplace=True)

In [9]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 0 to 156
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     151 non-null    float64
 1   Gender                  151 non-null    object
 2   Admission Test Score    151 non-null    float64
 3   High School Percentage  151 non-null    float64
 4   Admission Status        151 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [ ]:

df['Name'] = pd.to_numeric(df['Name'], errors='coerce')

In [ ]:
df['Gender'] = pd.to_numeric(df['Gender'], errors='coerce')
df['City'] = pd.to_numeric(df['City'], errors='coerce')
df['Admission Status'] = pd.to_numeric(df['Admission Status'], errors='coerce')

In [ ]:
df.info()

In [ ]:
df["Name_n"] = pd.factorize(df["Name"])[0]
df["Gender_n"] = pd.factorize(df["Gender"])[0]
df["City_n"] = pd.factorize(df["City"])[0]
df["Admission Status_n"] = pd.factorize(df["Admission Status"])[0]

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=["Name", "Gender", "City", "Admission Status"])

In [ ]:
df = df.drop(columns=["Name_n", "City_n"])

In [ ]:
df.head()

In [ ]:
from sklearn.model_selection import train_test_split

num_variables = ["Age", "Gender_n", "Admission Test Score", "High School Percentage"]

# Dividimos el conjunto de datos en muestras de train y test
X = df.drop("Admission Status_n", axis = 1)[num_variables]
y = df["Admission Status_n"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train_norm = scaler.transform(X_train)
X_train_norm = pd.DataFrame(X_train_norm, index = X_train.index, columns = num_variables)

X_test_norm = scaler.transform(X_test)
X_test_norm = pd.DataFrame(X_test_norm, index = X_test.index, columns = num_variables)

X_train_norm.head()

In [ ]:
x_train = X_train_norm
x_test = X_test_norm

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
import matplotlib.pyplot as plt
from sklearn import tree

fig = plt.figure(figsize=(10,10))

tree.plot_tree(model, feature_names = list(x_train.columns), class_names = ["Name_n", "Age", "Gender_n", "Admission Test Score", "High School Percentage", "City_n"], filled = True)

plt.show()

In [ ]:
Y_pred = model.predict(x_test)
Y_pred

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, Y_pred)

In [ ]:
### Profundidad del árbol
model.get_depth()

In [ ]:
### Número de hojas
model.get_n_leaves()

In [ ]:
from pickle import dump

dump(model, open("../models/decision_tree_classifier_default_42.sav", "wb"))